button
{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    height:30px;
    width:120px;
    font-size:15px;
    margin-left: 80px;
}
form{
    margin-left:500px;
}
label
{
    margin-right:10px;
}
input{
    margin-right:30px;
}
}