ol.a
{
    list-style-type:upper-roman;
    color:crimson;
    background-color: deepskyblue;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    margin:auto;
    list-style-position: inside;
    text-align: center;
    width: 150px;

}

ol.c
{
    list-style-type:upper-alpha;
    color:blue;
    background-color:chartreuse;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    margin:auto;
    list-style-position: inside;
    text-align: center;
    width: 150px;

}

::marker
{
    color:darkred;
}